.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #282c34;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    border: 1px solid deepskyblue;
    border-radius: 5px;
}

.buttonNum {
    background-color: #61dafb;
    border-radius: 15px;
    font-size:  44px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    min-height: 80px;
    border: none;
}

.buttonNumd {
    background-color: #61dafb;
    border-radius: 15px;
    font-size:  44px;
    text-align: center;
    color: red;
    margin-bottom: 10px;
    width: 100%;
    min-height: 80px;
    border: none;
}

.containerButton {
    border: 1px solid deepskyblue;
    border-radius: 5px;
    display: flex;

    padding: 10px;
}

.button {
    width: 100%;
    background-color: deepskyblue;
    border: none;
    font-size: x-large;
    margin-right: 10px;
    border-radius: 15px;
}

.buttonNumEnd {
    opacity: .5;
    background-color: #282c34;
    border: 2px solid deepskyblue;
    width: 100%;

    font-size: x-large;
    margin-right: 10px;
    border-radius: 15px;
}


.button:last-child {
    margin-right: 0;

}
