.container {
    display: flex;
    border-radius: 20px;
    width: 250px;
    min-height: 250px;
    padding-right: 20px;
}

.taskBlock {
    flex-direction: column;
    display: flex;
    padding: 10px;
    border: 1px solid deepskyblue;
    border-radius: 20px;
    min-height: 100px;
}

.task {
    flex-direction: column;
    margin-bottom: 5px;
}

.setBlock {
    text-align: center;
    padding: 5px;
    border: 1px solid deepskyblue;
    border-radius: 10px;
}

.incorrectTrue {
    display: none;
}

.incorrectFalse {
    display: block;
    color: red;
    font-weight: bold;
}

.spanText {
    color: aliceblue;
}