.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.containerCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border: 1px solid aqua;
    border-radius: 10px;
}

.numberCounter {
    background-color: aqua;
    border-radius: 10px;
    font-weight: bold;
    width: 150px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    vertical-align: center;
}

.numberCounterUn {
    background-color: aqua;
    color: red;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    width: 150px;
    height: 100px;
}

.buttonDown {
    display: flex;
}
